@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
}

.only-desktop {
    display: none;
}

.caixa-imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    height: 40%;


}

section img {
    width: 100%;
    padding: 129px 20px 20px 20px;
    max-width: 300px;




}

.texto {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 40%;

}

h1 {
    font-weight: 900;
    font-size: 50px;
    color: #515151;

}

h2 {
    color: #515151;
    font-size: 30px;
    margin: 20px;
}

section button {
    background: #adff00;
    width: 239px;
    height: 64px;
    border-radius: 50px;
    border: none;
    font-size: 28px;
    font-weight: 700;
    box-shadow: 0px 4px 4px 0px #00000040;

}


@media (min-width: 810px) {
    .only-desktop {
        display: flex;
    }


    header {
        display: flex;
        align-items: center;
        gap: 23px;
        margin: 44px 0 0 76px;
       
    }


    header a {
        text-decoration: none;
        color: #989d9c;
        font-size: 24px;
    }

    header a:hover {
        color: #007837;
        transition: 0.5s;
    }

    header a:active {
        color: #000036
    }

    header button {
        width: 130px;
        height: 41px;
        border: none;
        border-radius: 20.5px;
        color: white;
        background: #665ae1;
        font-size: 24px;
        cursor: pointer;

    }

    header button:hover {
        background: #666af9;
        transition: 0.3s;
    }

    header button:active {
        background-color: #000036;
    }

    main {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    section img {
        width: 90%;
        padding: 129px 20px 20px 20px;
        max-width: none;
           
    }

    .caixa-imagem {
        width: 80%;
        margin: 50px 86px 100px 125px;
      

    }
    .texto{
        gap: 32px;
    }

    .texto button:hover{
        cursor: pointer;
        background: #adfa09;

    }
    .texto button:active{
        background: #679602;
    }
}

@media (orientation: landscape) {
    
 
    main{
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .caixa-imagem{
        padding-bottom: 50px
    }

}
